BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 80
IndentWidth: 2
ContinuationIndentWidth: 4
AccessModifierOffset: -2
UseTab: Never
BreakBeforeBraces: Attach
InsertBraces: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
ReflowComments: false
SortIncludes: Never
